streamlit
requests
ddgs
duckduckgo-search
fastapi
uvicorn
python-multipart
python-dotenv
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
pypdf
sentence-transformers
pytest
httpx
